[Unit]
Description=Cactus Coin Bot
After=multi-user.target

[Service]
User=pi
Type=simple
WorkingDirectory=/home/pi/CactusCoinBot/src/
ExecStart=/usr/bin/python -m src.main
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target