[Unit]
Description=Cactus Coin Bot
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/home/pi/CactusCoinBot/src/
ExecStart=/usr/bin/python main.py
Restart=on-abort

[Install]
WantedBy=multi-user.target